:root {
  --bg1: #eee9da;
  --bg2: #bdcdd6;
  --bg3: #93bfcf;
  --bgT: #d6e8db9f;
  --red1: #f15a59;
  --red2: #ed2b2a;
  --red3: #d21312;
  --blueD: #070a52;
  --bgYt1: #f97c226b;
  --bgYt2: #f9d94959;
  --letterDark: #0c0c0c;
  --letterLight: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #24025b66;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0.5em;
}
.logo {
  width: 60px;
}
.nav a {
  margin: 1em;
  text-decoration: none;
  color: var(--bg3);
}
.nav a:hover {
  color: var(--red1);
}
.main {
  position: relative;
  background-color: var(--bg1);
}
.section_a {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  background-image: linear-gradient(to left, var(--red3) 0%, var(--blueD) 100%);
  color: var(--bg2);
}
.titulo {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--bg1);
  padding: 0.8em 0.3em 0.2em;
  margin: 0 0 0 100px;
}
.titulo span{
  font-size: 80px;
  font-weight: 600;
  color: var(--letterLight);
}
.section_a__p {
  width: 38vw;
  margin: 0 0 0 160px;
}
.escudo_fju {
  width: 15em;
  height: 15em;
  margin: auto;
}
.wave {
  position: absolute;
  bottom: 0;
  z-index: 300;
}
article{
  padding: 40px;
}
article h4{
  margin: 20px;
  font-size: 40px ;
  color: var(--blueD);
}
.section_b {
  position: relative;
  background-color: var(--bg1);
  color: var(--blueD);
}
.titulo3 {
  display: inline;
  font-size: 60px;
  font-weight: 500;
  padding: 0.2em 0.3em;
}
.section_b__p {
  display: inline;
}
.section_b__s {
  display: inline;
  margin: 2em;
}
.contain_proyects {
  position: relative;
  z-index: 600;
  display: flex;
  justify-content: space-around;
  padding: 1em 0.5em;
}
.contain_proyects img {
  width: 5em;
  height: 5em;
  transition: .2s ease-in;

}
.contain_proyects img:hover {
  transform: scale(1.5);
  transition: .12s ease-in-out;
}

.contain_phot {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background-image: url(./img/pictures/img2_exp.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}
.wave2{
  position: absolute;
  z-index: 200;
}
.wave3 {
  position: absolute;
  z-index: 200;
  bottom: 0;
}
.titulo2 {
  font-size: 30px;
}
.contain_card{
  position: relative;
  display: flex;
  margin: 30px 0 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, var(--bg3) 0%, var(--bg1) 100%);
}
.card{
  position: relative;
  display: block;
  width: 350px;
  height: 200px;
  margin: 20px;
  background-image: url(./img/pictures/img3_exp.jpeg);
  background-size: cover;
  border: solid 5px var(--bgYt1);
  border-radius: 15px;
  box-shadow: 0 0 20px var(--bg3);
  overflow: hidden;
  transition: ease-out 1s;
}
.card_logo{
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 15px;
  filter: drop-shadow(0 0 10px var(--bg2));
}
.card:hover .card_container{
  right: 0;
  transition: ease-out .5s;
}
.card_container{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--bgT);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 15px;
  transition: ease-out 1s;

}
.card_container p, span{
  font-size: 12px;
  font-weight: 500;
  color: var(--letterDark);
}
.btn_card{
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
}
footer{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--blueD) 0%, var(--bg3) 100%);
  color: var(--letterLight);  
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  padding: 20px;
}